html { 
  background: url('https://wallpaperset.com/w/full/a/b/4/461717.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 #root body {
  width: 100%;
  height: 100%;
  margin: 0;
}

a{
  text-decoration: none;
  color: silver
}

/* div{
  display: flex;
  flex-flow: row wrap;
} */
.product-ctn{
  display: flex;
  flex-flow: row wrap;
}
h1, h3{
  width: 100%;
}


/* button {
  padding: 4px;
  margin-left: 10px;
  height: 35px;
  width: 65px;
} */
/* Header */
header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 10px 100px 10px;
  padding: 10px;
  background-color: rgba(206, 0, 0, 0.9);
  border-radius: 3px;
} 
.comics-title{
  text-align: center ;
  font-family: 'Bangers', cursive;
  letter-spacing: 3px;
  color: silver;
}

/* ----------------------------- */
.header{
  margin: 10px auto;
  width: 100%;
  height: 100px;
  display: block;
  background-color: rgba(206, 0, 0, 0.9);
}
.inner-header{
  width: 1550px;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.logo-ctn{
  height: 100%;
  display: table;
  float: left;
}
.logo{
  height: 100px;
  width: 100px;
}
.site-title{
  font-family: 'Bangers', cursive;
  width: 500px;
  font-size: 50px;
  letter-spacing: 5px;
  display: table-cell;
  vertical-align: middle;
}
.navigation{
  float: right;
}
.navigation li{
  height: 100%;
  display: table;
  float: left;
  padding: 0 20px;
}
.navigation li:last-child{
  padding-right: 0;
}

.navigation li a{ 
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.shop-btn{
  width: 30px;
  height: 40px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  position: fixed;
}
/* --------------------------------- */

/* Home page */
.master-ctn {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 1500px ;
  margin: 50px auto;
}

.char-ctn{
    border: 3px solid rgb(137, 31, 2);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16);
    position: relative;
    background-color: rgb(19, 28, 53);
    opacity: 98%;
    width: 700px;
    padding-bottom: 18%;
    margin-bottom: 8%;
    margin-right: 5px;
    height: 100px;
    box-shadow: 2px 2px 10px black;

}

.char-img-ctn{
  height: 200px;
  width: 270px;
  margin: 5px auto 10px auto;
  border: 2px solid rgb(185, 5, 14);
  box-shadow: 2px 2px 10px black;
}

.char-img{
  height: 200px;
  width: 270px;
}

.char-content-ctn {
display: flex;
flex-flow: column wrap;
flex-shrink: 1;
max-width: inherit;
height: 250px;
box-sizing: border-box;
overflow-x: auto;
padding: 20px;
text-align: center;
text-transform: uppercase;
font-size: 12px;
color: silver;
background-color: rgba(0, 0, 0, 0.85);
border: 1px solid black;
font-family: 'Roboto', sans-serif;
}
.more-info{
  padding-top: 30px;
  border-bottom: 1px solid silver;
  width: 100px;
  margin: 0 auto;
}

.grid-ctn {
  display: grid;
  grid-template-columns: auto auto auto auto;
  
  padding: 10px;
  margin: 0 auto;
  width: 80%;

}
.grid-item {
  background-color: rgba(172, 163, 172, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: 10px;
  box-shadow: 2px 2px 10px black;
}

/* Comics component */
.master-comic-ctn{
width: 1400px;
}

.comics-title{
font-size: 50px;
}

.comic-img{
  height: 150px;
  width: 100px;
  box-shadow: 2px 2px 10px black;
}
.comic-title{
  border-bottom: 1px solid black;
  text-align: center;
}
.add-to-cart{
  margin-left: 20px;
  
}
.comics-ctn{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 500px;
  padding: 15px;
  margin: 25px auto;
  border: 2px solid black;
  background-color: antiquewhite;
  box-shadow: 2px 2px 10px black;
  font-family: 'Roboto', sans-serif;
}
.comics-btn {
  background-color: rgb(64, 63, 72);
  color: #fff;
  font-family: sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  width: 60px;
  height: 40px;
  border: 3px solid rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  font-family: 'Merriweather', serif;
  text-decoration: none;
}

.comics-btn :focus{
  outline: none;
}
.comics-btn :hover {
border: 5px solid  rgb(227, 0, 0);
color: rgb(232, 223, 212);
text-shadow:0px 0px 30px rgb(125, 0, 0);
-moz-transition: all 0.2s ease-in;
-o-transition: all 0.2s ease-in;
-webkit-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
} 

/* cart */
.shopping-cart {
  width: 750px;
  height: auto;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.cart-title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 20px 30px;
  height: 200px;
  display: flex;
  border-bottom: 1px solid black;
}
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.delete-btn,
.like-btn {
  display: inline-block;
  Cursor: pointer;
  background-color: white;
  
}
.delete-btn {
  width: 18px;
  height: 17px;
  background: url('https://image.flaticon.com/icons/svg/1828/1828843.svg') no-repeat center;
}
 
.like-btn {
  position: absolute;
  top: 30px;
  left: 25px;
  width: 17px;
  height: 17px;
  background-size: 2900%;
  background-repeat: no-repeat;
}
.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}
 
@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

.cart-image {
  margin-right: 50px;
  height: 125px;
  width: 100px;
  border: 2px solid black;
}
 
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
  height: 100px;
}
 
.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
  margin: 8px;
}
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  height: 35px;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
 
button[class*=cart-btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn {
  width: 30px;
  height: 30px;
  font-size: 16px;
}
.plus-btn {
  width: 30px;
  height: 30px;
  font-size: 16px;
}
 
button:focus,
input:focus {
  outline:0;
}
.price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.items-in-cart{
letter-spacing: 1px;
border-bottom: 1px solid black;
width: 125px;
}
.subtotal{
  letter-spacing: 1px;
  width: 117px;
  border-bottom: 1px solid black;
}
.complete-purch{
margin-left: 80%;
}



/* .outer-cart-ctn{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
  height: 800px;
}

.cart-ctn{
  display: flex;
  margin: 0 auto;
  border: 1px solid black;
  margin: 10px
}

*/

.total-ctn{
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 10px;

} 
/* footer */

.footer {
  background-color: rgba(206, 0, 0, 0.9);
  opacity: 90%;
  font-size: 12px;
  text-align: center;
  line-height:24px;
  width: 100%;
  margin-top: 100px;
  }
  .foot-text{
    color: black;
    font-family: 'Merriweather', serif;
  }

  
 @media only screen and (max-width: 768px){
    /* header */
    
    #root body {
     width: 700px;
     height: 100%;
     margin: 0;
   }
     .header{
       width: 800px;
       height: 250px;
       border-radius: 2px;
       margin: 15px auto
     }
     .inner-header{
      width: 700px;
      height: 150px;
    }
    .navigation {
      height: 50%;
      display: block;
      margin: 0 30% 0 0;
      padding: 0 20px;
    }
     .navigation li:last-child{
       padding-right: 10px;
     }
    
     .logo{
       height: 150px;
       width: 150px;
     }
     .site-title{
       font-size: 90px;
     }
    
     .navigation li a{
       font-size: 30px;
     }
 
     /* home page */
     .grid-ctn {
       grid-template-columns: auto auto;
       margin: 0 70px;
       width: 275px;
     }
     .grid-item {
       width: 250px;
     }
     .char-img-ctn{
      height: 200px;
      width: 200px;
      margin: 5px auto 10px auto;
      border: 2px solid rgb(185, 5, 14);
      box-shadow: 2px 2px 10px black;
    }
    .char-img{
      height: 200px;
      width: 200px;
    }
/* comic page */
     .master-comic-ctn{
       width: 375px;
       margin: 0 20%;
       }
     .comics-ctn{
         display: flex;
         flex-flow: row wrap;
         justify-content: center;
         width: 375px;
         padding: 15px;
         margin: 25px auto;
         border: 2px solid black;
         background-color: antiquewhite;
         box-shadow: 2px 2px 10px black;
         font-family: 'Roboto', sans-serif;
       }
      
     .shopping-cart {
         width: 475px;
         margin: 80px 25%;
       }
       
       button[class*=cart-btn] {
         width: 30px;
         height: 30px;
         background-color: #E1E8EE;
         border-radius: 6px;
         border: none;
         cursor: pointer;
       }
       .minus-btn {
         width: 30px;
         height: 30px;
         font-size: 16px;
       }
       .plus-btn {
         width: 30px;
         height: 30px;
         font-size: 16px;
       }
        
       button:focus,
       input:focus {
         outline:0;
       }
       .price {
         display: none;
       }
     .footer-ctn{
       margin: 0 auto;
     }
 
     .footer {
       text-align: center;
       line-height:24px;
       width: 800px;
       margin-top: 100px;
       }
   }   